<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
{% include 'menu.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Food Box</h1>
    <p class="lead">Food Box - это отличный магазин продуктов</p>
</div>

<div class="container">
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>


    {% include 'footer.html'%}

</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>